.highlighted {
  background-color: #ff0000;
  color: white;
  padding: 20px;
  margin: 0px;
  margin-top: -8px;
}

.indexblock {
  padding: 10px;
  overflow: hidden;
}
.indexblock a {
  text-decoration: none;
}

.indexblock:hover {
  background-color: #1a001d0d;
}

.block {
  overflow: hidden;
}

.link {
  display: flex;
}
.link svg{
  margin-bottom: auto;
  margin-top: auto;
}

.cover {
  position: relative;
  /* background: rgb(138, 18, 18); */
  color: #b7b7b7;
  text-align: center;
}

.coverImage {
  height: 61.8vh;
  max-height: 400px;
  /* background-color: red; */
  min-height: 300px;
}
.back{
  text-decoration: none;
}
