.highlighted {
  background-color: #ff0000;
  color: white;
  padding: 20px;
  margin: 0px;
  margin-top: -8px;
}

.indexblock {
  padding: 10px;
  overflow: hidden;
  text-decoration: none;
  max-width: 650px;
  min-width: 300px;
  margin: 15px;
}

.indexblock:hover {
  background-color: #1a001d0d;
}

.block {
  overflow: hidden;
  padding: 10px;
}

.link {
  display: flex;
  color: rgb(0, 0, 0);
}

.link svg {
  margin-bottom: auto;
  margin-top: auto;
}

.cover {
  position: relative;
  color: #b7b7b7;
  text-align: center;
}

.coverImage {
  height: 61.8vh;
  max-height: 400px;
  min-height: 300px;
}

.back {
  text-decoration: none;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkblock img {
  max-width: 600px;
  max-height: 600px;
  object-fit: scale-down;
}

.linkblock h1 {
  font-weight: normal;
  color: #ff0000;
}

@media (max-width: 700px) {
  .blocks {
    grid-template-columns: 1fr !important
  }
  .block img {
    max-height: 200px;
    width: auto;
  }
  .indexblock, .block {
    grid-column: 1 !important;
  }
}