.highlighted {
  background-color: #ff0000;
  color: white;
  padding: 20px;
  margin: 0px;
  margin-top: -8px;
}

.indexblock {
  padding: 10px;
  overflow: hidden;
}
.indexblock a {
  text-decoration: none;
}

.indexblock:hover {
  background-color: #1a001d0d;
}

.block {
  overflow: hidden;
  padding: 10px;
}

.link {
  display: flex;
  color: rgb(92, 0, 0);
}
.link svg{
  margin-bottom: auto;
  margin-top: auto;
}

.cover {
  position: relative;
  /* background: rgb(138, 18, 18); */
  color: #b7b7b7;
  text-align: center;
}

.coverImage {
  height: 61.8vh;
  max-height: 400px;
  /* background-color: red; */
  min-height: 300px;
}
.back{
  text-decoration: none;
}
.blocks{
  display: flex;
  flex-wrap: wrap;
}
.linkblock img{
  max-width:600px;
  max-height: 600px;
  object-fit: scale-down;
}

@media (max-width: 700px){
  .blocks{
    grid-template-columns: 1fr !important
  }
  .block img{
    max-height: 200px;
    width: auto;
  }
  .indexblock,
  .block{
    grid-column: 1 !important;
  }
}
