.hero {
  position: relative;
  /* background: rgb(138, 18, 18); */
  color: #b7b7b7;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
  /* background-color: red; */
  min-height: 300px;
}
.block{
  overflow: hidden;
}
.coverImage{
  object-fit: cover;
    width: 100%;
    height: 200px;

}
.heroDetails {
  position: absolute;
  background: rgba(97, 46, 46, 0.7);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
