nav{
    margin-top: 0;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
    background-color: #e33030;
}
nav ul{
    margin: 0;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
nav svg{
    max-height: 100px;
}
nav li{
    color: #fff;
    padding:10px;
}
nav li:hover{
    background-color: #ffffff38;
    border-radius: 0px 0px 5px 5px;
}
a{
    word-wrap: none;
}
.selected{
    background-color: #009688;
    border-radius: 0px 0px 5px 5px;
}